{% extends "base_generic.html"%}

  {%block cards%}
  <div class="container">


    <div class="container justify-content-center">
      <div class="row justify-content-center">
        <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">Member Login</h5>
              <p class="card-text">Login to know about the details of your acount with the Credit society.</p>
              <a href="{% url 'login'%}" class="btn btn-primary">Login</a>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">


      <div class="container justify-content-center">
        <div class="row justify-content-center">
          <div class="card w-75">
              <div class="card-body">
                <h5 class="card-title">Admin Login</h5>
                <p class="card-text">Sign In as the admin of the Credit Society</p>
                <a href="{% url 'login'%}" class="btn btn-primary">Login</a>
              </div>
            </div>
          </div>
        </div>
  </div>
  {% endblock %}
