{%extends 'details.html'%}
{% load static%}

{%block content%}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
<h2 style="text-align:center">Credit Society Committee</h2>

<div class="cardcom">
  <img src={% static "images/chandrakant.jpg"%} width="250" height="250">
  <h1>Chandrakant</h1>
  <p class="title">Secretary</p>

  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>
</main>





{%endblock%}
