{%extends 'details.html'%}
{% load static%}

{%block content%}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
<h2 style="text-align:center">Credit Society Committee</h2>

<div class="cardcom">
  <img src="/w3images/team2.jpg" alt="John">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>
</main>





{%endblock%}
