{%extends 'details.html'%}
{% load static%}

{%block content%}


<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4">
  <h2 style="text-align:center">Credit Society Committee</h2>
  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/biradar.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Chairman</h6>
            <h4 class="card-title">Shri. Tanaji Biradar</h4>
<a href="#pablo" class="btn btn-primary btn-round">Contact</a>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/sanju.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">secretary</h6>
            <h4 class="card-title">Shri. Sanju Upala</h4>
<a href="#pablo" class="btn btn-primary btn-round">Contact</a>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/chandrakant.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Treasurer</h6>
            <h4 class="card-title">Shri. Chandrakant Kadu</h4>
<a href="#pablo" class="btn btn-primary btn-round">Contact</a>

          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/sanjiv.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Vice-Chairman</h6>
            <h4 class="card-title">Shri. Sanjiv Shimpi</h4>


          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/dattatray.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Co-Treasurer</h6>
            <h4 class="card-title">Shri. Dattatray Kadam</h4>


          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/mangesh.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Member</h6>
            <h4 class="card-title">Shri. Mangesh Devrukhkar</h4>


          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/suhas.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Member</h6>
            <h4 class="card-title">Shri. Suhas Gurav</h4>


          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/santosh.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Member</h6>
            <h4 class="card-title">Shri. Santosh Shinde</h4>


          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/kannubhai.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Member</h6>
            <h4 class="card-title">Shri. kannubhai Waghela</h4>


          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/rekha.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Member</h6>
            <h4 class="card-title">Smt. Rekha Pachpute</h4>


          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <img src={% static "images/pratibha.jpeg"%} width="250" height="250">
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Member</h6>
            <h4 class="card-title">Smt. Pratibha Lokhande </h4>


          </div>
        </div>
      </div>



    </div>
  </div>
</main>





{%endblock%}
