{%extends 'details.html'%}
{% load humanize %}

{%block content%}

<main role="main" class="col-md-9col-lg-10 px-4">
  <div>


    <div class="card">
      <div class="card-body">

        <h1>{{Accountholder.name}} </h1>
        <h4>SAP Id: {{Accountholder.sapid}}</h4>
        <h4>DoJ: {{date}}</h4>
        <h4>Monthly Deductions: &#x20b9; {{Accountholder.sharevalue|intcomma }}
          <!--<a href="../status/MonthlyDeduction" style="font-size:0.8rem;"> change</a>-->
          <a href="#modal">change</a>

        </h4>
      </div>
    </div>

          {% if messages %}
          <ul>
             {% for message in messages %}
             <div class="alert alert-success">
               <a class="close" href="{%url 'status:details'%}">×</a>
               <span>
                 <b> {{ message }}</span>
             </div>
             {% endfor %}
          </ul>
          {% endif %}

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Fixed Deposits </h2>
              <h4>Amount: &#x20b9; {{ Accountholder.fdcapital|intcomma }}</h4>
              <h4>Date of Maturity:{{Accountholder.fdmaturitydate}}</h4>
              <h4>Interest:{{Interests.fdinterest}} </h4>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Shares</h2>
              <h4>Shares alloted from:{{Accountholder.sharesstartingnumber}} to {{Accountholder.sharesendingnumber}}</h4>
              <h4>Share Amount: &#x20b9; {{Accountholder.sharebalance|intcomma }}</h4>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Cumulative Deposits </h2>
              <h4>Balance: &#x20b9; {{ Accountholder.cdbalance|intcomma }}</h4>
              <h4>Interest:{{Interests.cddividend}} </h4>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2>Loan</h2>
              <ul>
                {% if Accountholder.islongloantaken and Accountholder.isloanemertaken is True %}
                <h2>Your Loan Amount: &#x20b9; {{ Accountholder.longloanprinciple|intcomma  }}</h2>
                {% else %}
                <h4>You have no loans due</h4>
                <h4>Request Loan
                  <a href="../status/Loanuser" style="font-size:0.8rem;"> Loan </a>
                </h4>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div id="modal" class="overlay">
        <div class="popup">
          <h2>Change your Monthly Deduction</h2>
          <a class="close" href="{%url 'status:details'%}">×</a>
          <div class="content">
            <form class="lw-form" method="POST" action="{%url 'status:details'%}" >
              <div class="lw-field">
                <input class="lw-input" name="new_amount" id="new_amnt" type="numeric" placeholder="Enter Amount in Rs" required>
              </div>
              <button class="lw-btn">Submit to admin</button>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>

</main>
{%endblock%}
