{%extends 'details.html'%}
{% load humanize %}

{%block title%}FixedDeposits{%endblock%}


{%block content%}
<main role="main" class="col-md-9 col-lg-10 px-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2>Fixed Deposits </h2>
            <h3>FD Holder Name: {{Accountholder.name}}</h3>
            <p class="card-text">These are your fixed deposit details with the credit society.</p>
            <h4>Amount:&#x20b9; {{Accountholder.fdcapital|intcomma }}</h4>
            <h4>Date of Maturity:{{Accountholder.fdmaturitydate}}</h4>
            {%for i in Interests%}
            <h4>Interest:{{i.fdinterest}} </h4>
            {%endfor%}
          </div>
        </div>
      </div>
</main>
{%endblock%}
