{%extends 'details.html'%}

{%block title%}FixedDeposits{%endblock%}


{%block content%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h2>Fixed Deposits </h2>
            <h3>FD Holder Name:{{fixedDeposits.fdholdersName}}</h3>
            <p class="card-text">These are your fixed deposit details with the credit society.</p>
            <h4>Amount:{{fixedDeposits.fdCapital}}</h4>
            <h4>Date of Maturity:{{fixedDeposits.maturityDate}}</h4>
            <h4>Interest:{{fixedDeposits.rateOfInterest}} </h4>
          </div>
        </div>
      </div>
</main>
{%endblock%}
