{%extends 'details.html'%}
{%block title%}Monthly Deduction{%endblock%}
{%block content%}
<div class="container">


<h1 class="h2">Monthly Deduction</h1>
  <div class="container justify-content-center" >
    <div class="row justify-content-center">
      <div class="card w-75 h-75">
          <div class="card-body">
            <h2 class="card-title"></h2>
            <h3>AcountHolder's Name:{{current_user_name}}</h3>
            <p class="card-text">The Amount currently deducted from your salary is-</p>
            <h1>&#x20b9;  {{MonthlyDeduction.monthlyDeduction}}</h1>

            <a href="{% url 'login'%}" class="btn btn-primary">Change And get Approved</a>
</div>
{%endblock%}
