{%extends 'base.html'%}
{%block title%}USERS{%endblock%}
{%block content%}
<h2>ADD USER</h2>
<div class="container-fluid">
  <div class="row">


  <div class="col-sm-12 col-md-7">
           <div class="panel panel-default">
               <div class="panel-body">
                  <form action="" method="post">
                    {% csrf_token %}
                    <table>
                    {{ form.as_table }}
                    </table>
                    <div class="form-group " style="margin-top:20px">
                       <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">ADD ACCOUNT DETAILS</button>
                      </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
  </div>
</div>
{%endblock%}
