{%extends 'base.html'%}
{%block title%}Accounts{%endblock%}
{%block content%}
<h2>ADD Account Details</h2>
<div class="container-fluid">
  <div class="row">


    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="" method="post">
            {% csrf_token %}
            <table>
              <tr>
                <th><label for="id_accountnumber">Accountnumber:</label></th>
                <td><input type="number" name="accountnumber" required id="id_accountnumber"></td>
              </tr>
              <tr>
                <th><label for="id_username">Username:</label></th>
                <td><select class="selectpicker" data-show-subtext="true" data-live-search="true" name="username"
                    required id="id_username">
                    {%for i in user%}
                    <option value={{i.id}}>{{i.username}}</option>
                    {%endfor%}
                  </select>
                </td>
              </tr>
              <tr>
                <th><label for="id_name">Name:</label></th>
                <td><input type="text" name="name" maxlength="50" required id="id_name"></td>
              </tr>
              <tr>
                <th><label for="id_sapid">Sapid:</label></th>
                <td><input type="number" name="sapid" required id="id_sapid"></td>
              </tr>
              <tr>
                <th><label for="id_dateofjoining">Dateofjoining:</label></th>
                <td><input type="date" name="dateofjoining" required id="id_dateofjoining"></td>
              </tr>
              <tr>
                <th><label for="id_teachingstaff">Teachingstaff:</label></th>
                <td><input type="checkbox" name="teachingstaff" id="id_teachingstaff"></td>
              </tr>
              <tr>
                <th><label for="id_nonteachingstaff">Nonteachingstaff:</label></th>
                <td><input type="checkbox" name="nonteachingstaff" id="id_nonteachingstaff"></td>
              </tr>
              <tr>
                <th><label for="id_sharevalue">Sharevalue:</label></th>
                <td><input type="number" name="sharevalue" value="0" required id="id_sharevalue"></td>
              </tr>

            </table>
            <div class="form-group " style="margin-top:20px">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">SAVE DETAILS</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<h1>acc create</h1>
{%endblock%}
