{%extends 'base.html'%}

{%block title%}Bank{%endblock%}
{%block content%}
<h1 class="h2">List Of Current FDs</h1>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Username</th>
        <th>FD Capital</th>
        <th>Rate of Interest</th>
        <th>Maturity Date</th>

      </tr>
    </thead>
    <tbody>

{%for i in fixedDeposits %}
  <tr>
    <td>{{i.fdholdersName}}</td>
    <td>{{i.fdCapital}}</td>
    <td>{{i.rateOfInterest}}</td>
    <td>{{i.maturityDate}}</td>

  </tr>

{%endfor%}

</tbody>
</table>
</div>
{%endblock%}
