<head>
  <style>
    @page {
      size: letter landscape;
      margin-top: 4cm;
      margin-bottom: 1cm;
      margin-left: 1cm;
      margin-right: 1cm;
    }
    table, th, td {
  border: 0.5px solid black;
}
th, td {
  padding: 2px;
}
table {
  border-spacing: 5px;
}

  </style>
</head>

<h1 class="h2" align="center">D.J. Sanghvi College of Engg. Employee Co-op Cr. Soc.</h1>
<h2 align="center">Salary Deduction for Month {{prevmonth}} {{year}}</h2>
<div class="table-responsive">
  <table class="table table-bordered" bprder="2">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>A/C No.</th>
        <th>Sap Id</th>
        <th>Name</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>Total</th>
        <th>Dividend</th>

      </tr>
    </thead>
    <tbody>
  {%for i in userA%}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.username.id}}</td>
    <td>{{i.username.sapid}}</td>
    <td>{{i.username.first_name}}</td>
    <td>{{i.Janurary}}</td>
    <td>{{i.february}}</td>
    <td>{{i.March}}</td>
    <td>{{i.April}}</td>
    <td>{{i.May}}</td>
    <td>{{i.June}}</td>
    <td>{{i.July}}</td>
    <td>{{i.August}}</td>
    <td>{{i.September}}</td>
    <td>{{i.October}}</td>
    <td>{{i.November}}</td>
    <td>{{i.December}}</td>
    <td>{{i.totalamount}}</td>
    <td>{{i.dividend}}</td>
  </tr>
  {%endfor%}

  </tbody>
</table>
