{%extends 'base.html'%}

{%block title%}Bank{%endblock%}
{%block content%}

<!-- template for csadmin:fd -->

<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header-primary">
              <h2 class="h2">Rate of Interest</h2>
              <a href="#modal"><button type="button" class="btn btn-primary pull-right"
                  style="background: linear-gradient(45deg, #06beb6, #48b1bf);" name="button">Change</button></a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Share Dividend</th>
                      <th>CD Dividend</th>
                      <th>FD interest</th>
                      <th>Emergency loan interest</th>
                      <th>Long Loan Interest</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for i in Interests reversed%}
                    <tr>
                      <td>{{i.year}}</td>
                      <td>{{i.sharedividend}}</td>
                      <td>{{i.cddividend}}</td>
                      <td>{{i.fdinterest}}</td>
                      <td>{{i.emerloaninterest}}</td>
                      <td>{{i.longloaninterest}}</td>
                    </tr>
                    {%endfor%}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="modal" class="overlay" >
  <div class="popup">

    <div class=" lw-container_md">
      <form method="post" action="{%url 'csadmin:change'%}">
        <a class="lw-close" href="#">X</a>

        <div class="lw-wrap lw-bb">
          <div class="lw-panel lw-panel_lg">
            <div class="lw-preview"><i class="fa fa-user-secret" style='font-size:100px' aria-hidden="true"></i>
            </div>
            <div class="lw-group">
              <div class="lw-title">Checking of authority</div>
              <div class="lw-content">Inorder to change any field we need to verify the private key given to
                Chairman and Secretary.Please enter your secret and hit verify button.</div>
            </div>
          </div>
        </div>

        <div class="lw-wrap lw-bg-white">
          <div class="lw-inline">

            <div class="lw-field">
              <div class="lw-label">Chairman</div>
              <div class="lw-group"><input class="lw-input" style="font-family:monospace;" name="fchairmankey"
                  type="text" placeholder="Enter your key" required></div>
            </div>
            <div class="lw-field">
              <div class="lw-label">Secretary</div>
              <div class="lw-group"><input class="lw-input " name="fsecretarykey" type="text"
                  placeholder="Enter your key" required></div>
            </div>

          </div>
        </div>
        <div class="lw-foot">
          <a class="lw-btn" class="lw-close" href="{%url 'csadmin:change'%}">cancel change</a>
          <button class="lw-btn lw-btn_color" name="btnverify" data-lw-ripple> verify</button>
          </div>
        {%csrf_token%}
      </form>
    </div>
  </div>
</div>
</main>
{%endblock%}
