{%extends 'base.html'%}

{%block title%}change{%endblock%}
{%block content%}
<!-- for changing share dividend -->
<main role="main" class="col-md-6 col-lg-12">

  <br>
  <br>
  <br>
  <br>
  <br>

  <a href="/csadmin/shareupdate/(%3FP1)/">change share dividend rate</a><br>
  <a href="/csadmin/cdupdate/(%3FP1)/">change cd dicidend rates</a><br>
  <a href="/csadmin/emerloanupdate/(%3FP1)/">change Energency Loan interest</a><br>
  <a href="/csadmin/longloanupdate/(%3FP1)/">change Long Loan interest</a><br>
  <a href="/csadmin/fdintupdate/(%3FP1)/">change FD interest rates</a><br>

</main>





{%endblock%}
