{%extends 'base.html'%}
{%block title%}Console{%endblock%}
{%block content%}

<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h2>Console </h2>
              <form method="get">
                <div class="input-group " style='width:45%'>
                <input type="text" style="color:#fff" class="form-control" autocomplete="off" name="name" placeholder="Search" id="id_name">
                <button type="button" class="btn btn-round btn-just-icon" name="button"><i class="material-icons">search</i></button>
                </div>
              </form>

              <a href="{% url 'csadmin:user_create'%}" ><button type="button" class="btn btn-primary pull-right  btn-info"  name="button"><i class="material-icons">person_add</i>add user</button></a>
                <a href="{% url 'csadmin:user_delete'%}" ><button type="button" class="btn btn-primary pull-right  btn-info"  name="button"><i class="material-icons">delete</i>Delete user</button></a>
            </div>
            {% if messages %}
            <ul>
               {% for message in messages %}
                     <script type="text/javascript">
                       md.showNotification('top','center' ,"{{message}}")
                     </script>
               {% endfor %}
            </ul>
            {% endif %}
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>A/C No.</th>
                      <th>Sap Id</th>
                      <th>Name</th>
                      <th>Share value</th>
                      <th>Fixed Deposits</th>
                      <th>Long Loan Taken</th>
                      <th>Emergency Loan Taken</th>
                      <th>Down Payment</th>

                    </tr>
                  </thead>
                  <tbody>
                    {%for i in filter.qs%}
                    <tr>
                      <td>{{i.accountnumber}}</td>
                      <td>{{i.sapid}}</td>
                      <td>{{i.name}}</td>
                      <td><a href="{% url 'csadmin:shares _update' pk=i.pk %}">{{i.sharevalue}}</a></td>
                      <td><a href="{% url 'csadmin:make_entry' pk=i.pk %}"><i class="material-icons">edit</i></a></td>


                      {% ifequal i.islongloantaken True %}
                      <td><a href="{% url 'csadmin:longloan_update' pk=i.pk %}">Yes</a></td>
                      {% else %}
                      <td><a href="{% url 'csadmin:longloan_update' pk=i.pk %}">No</a></td>
                      {% endifequal %}

                      {% ifequal i.isloanemertaken True %}
                      <td><a href="{% url 'csadmin:emerloan_update' pk=i.pk %}">Yes</a></td>
                      {% else %}
                      <td><a href="{% url 'csadmin:emerloan_update' pk=i.pk %}">No</a></td>
                      {% endifequal %}

                      <!-- <td><a href="{% url 'csadmin:User_Delete' id=i.pk %}"><i class="fa fa-trash" aria-hidden="true" style='font-size:15px' ></i></a></td> -->
                      {% ifequal i.islongloantaken True %}
                      <td><a href="{% url 'csadmin:downpayment_update' pk=i.pk %}">{{i.displaydownpayment}}</a></td>
                      {% else %}
                      <td color="grey">{{i.displaydownpayment}}</td>
                      {% endifequal %}
                    </tr>
                    {%endfor%}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
</main>

{%endblock%}
