{%extends 'base.html'%}

{%block title%}Console{%endblock%}
{%block content%}
<h2>Console</h2>

<a href="{% url 'csadmin:user_create'%}"><h3>add user</h3></a>

<div class="table-responsive">
  <table  border="1">
    <thead>
      <tr>
        <th>A/C No.</th>
        <th>Sap Id</th>
        <th>Name</th>
        <th>Fixed Deposits</th>
        <th>Loan Taken</th>
        <th>Share value</th>


      </tr>
    </thead>
    <tbody>
{%for i in Members%}
  <tr>
    <td>{{i.accountnumber}}</td>
    <td>{{i.sapid}}</td>
    <td>{{i.name}}</td>
    <td><a href="{% url 'csadmin:fd_update' pk=i.pk %}">{{i.fdcapital}}</a></td>
    <td><a href="{% url 'csadmin:loan_update' pk=i.pk %}">{{i.isloantaken}}</a></td>
    <td><a href="{% url 'csadmin:shares _update' pk=i.pk %}">{{i.sharevalue}}</a></td>


  </tr>
{%endfor%}

</tbody>
</table>

</div>
</div>
{%endblock%}
