{%extends 'base.html'%}

{%block title%}Console{%endblock%}
{%block content%}

<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h2>Console </h2>
              <a href="{% url 'csadmin:user_create'%}" ><button type="button" class="btn btn-primary pull-right" style="background: linear-gradient(45deg, #06beb6, #48b1bf);" name="button">add user</button></a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>A/C No.</th>
                      <th>Sap Id</th>
                      <th>Name</th>
                      <th>Fixed Deposits</th>
                      <th>Long Loan Taken</th>
                      <th>Emergency Loan Taken</th>
                      <th>Share value</th>
                      <th>delete</th>


                    </tr>
                  </thead>
                  <tbody>
                    {%for i in Members%}
                    <tr>
                      <td>{{i.accountnumber}}</td>
                      <td>{{i.sapid}}</td>
                      <td>{{i.name}}</td>
                      <td><a href="{% url 'csadmin:fd_update' pk=i.pk %}">{{i.fdcapital}}</a></td>


                      {% ifequal i.isloanloantaken True %}
                      <td><a href="{% url 'csadmin:loan_update' pk=i.pk %}">Yes</a></td>
                      {% else %}
                      <td><a href="{% url 'csadmin:loan_update' pk=i.pk %}">No</a></td>
                      {% endifequal %}

                      {% ifequal i.isloanemertaken True %}
                      <td><a href="{% url 'csadmin:loan_update' pk=i.pk %}">Yes</a></td>
                      {% else %}
                      <td><a href="{% url 'csadmin:loan_update' pk=i.pk %}">No</a></td>
                      {% endifequal %}

                      <td><a href="{% url 'csadmin:shares _update' pk=i.pk %}">{{i.sharevalue}}</a></td>

                      <td><a href="{% url 'csadmin:User_Delete' id=i.pk %}"><i class="fa fa-trash" aria-hidden="true" style='font-size:15px' ></i></a></td>

                    </tr>
                    {%endfor%}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>
</main>

{%endblock%}
