{%extends 'base.html'%}

{%block title%}messanger{%endblock%}
{%block content%}


<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>

        </tr>
      </thead>
      <tbody>
        {%for i in User%}
        <tr>

          <td><a href="{% url 'csadmin:shares _update' pk=i.pk %}">{{i.username}}</a></td>
          <td><a href="{% url 'csadmin:User_Delete' id=i.pk %}"><i class="fa fa-trash" aria-hidden="true" style='font-size:15px'></i></a></td>

        </tr>
        {%endfor%}

      </tbody>
    </table>
  </div>
</div>


{%endblock%}
