{%extends 'base.html'%}
{%block content%}


<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h2>Console </h2>
              <form method="get">
                <div class="input-group " style='width:45%'>
                <input type="text" style="color:#fff" class="form-control" autocomplete="off" name="username" placeholder="Search" id="id_username">
                <button type="button" class="btn btn-round btn-just-icon" name="button"><i class="material-icons">search</i></button>
                </div>
              </form>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>user</th>
                      <th>delete</th>
                    </tr>
                  </thead>
                  {%for i in filter.qs%}
                  <tbody>
                    <tr>
          <td>{{i.username}}</td>
          <td><a href="{% url 'csadmin:User_Delete' id=i.pk %}"><i class="fa fa-trash" aria-hidden="true" style='font-size:15px'></i></a></td>

        </tr>
        {%endfor%}

      </tbody>
    </table>
  </div>
</div>

{%endblock%}
