{%extends 'base.html'%}
{%block title%}Accounts{%endblock%}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div>
          <h3 class="card-title" style="text-align:left;"><b>Add a Emergency Loan</b>
          </h3>
          <form action="" method="post">
            {% csrf_token %}
            <table>
              {% if isloanemertaken is False %}
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th><label for="id_username" class="bmd-label-floating">Username:</label></th>
                    <td><select name="username" class="form-control" required id="id_username">
                        <option value={{Userid}} selected>{{username}}</option>
                      </select></td>
                  </div>
                </div>
              </tr>
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th> <label for="id_emerloanamount" class="bmd-label-floating">Emergency Loan Amount:</label></th>
                    <td> <input type="number" name="emerloanamount" value="{{emerloanamt}}" step="100"
                        id="id_emerloanamount" class="form-control"></td>
                  </div>
                </div>
              </tr>
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th> <label for="id_emerloanperiod" class="bmd-label-floating">Emerloan Period(In months):</label>
                    </th>
                    <td> <input type="number" name="emerloanperiod" value="{{emerloanprd}}" step="1"
                        id="id_emerloanperiod" class="form-control"></td>
                  </div>
                </div>

              </tr>
              {% elif isloanemertaken is True %}
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th> <label>Previous Loan has not been paid</label>
                    </th>
                  </div>
                </div>
              </tr>
              {% endif %}
            </table>
            {%if isloanemertaken is False %}
            <div class="form-group " style="margin-top:20px">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary " onclick="md.showNotification('bottom','right','Emergency Loans details has been updated')">
                  <i class="material-icons">check</i> SAVE
                </button>
              </div>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

{%endblock%}