{%extends 'base.html'%}
{%block title%}Accounts{%endblock%}
{%block content%}
<h2>ADD loan Details</h2>
<div class="container-fluid">
  <div class="row">


    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="" method="post">
            {% csrf_token %}
            <table>
              <tr>
                <th><label for="id_username">Username:</label></th>
                <td><select name="username" required id="id_username">
                      <option value={{Userid}} selected>{{username}}</option>
                  </select></td>
              </tr>
              <tr>
                <th><label for="id_isloanemertaken">Is Loan Emergency Taken:</label></th>
                <td><input type="checkbox" name="isloanemertaken" id="id_isloanemertaken"></td>
              </tr>
              <tr>
                <th><label for="id_emerloanamount">Emergency Loan Amount:</label></th>
                <td><input type="number" name="emerloanamount" value="{{emerloanamt}}" step="0.01" id="id_emerloanamount"></td>
              </tr>
              <tr>
                <th><label for="id_emerloanperiod">Emerloan Period(In months):</label></th>
                <td><input type="number" name="emerloanperiod" value="{{emerloanprd}}" id="id_emerloanperiod"></td>
              </tr>
            </table>
            <div class="form-group " style="margin-top:20px">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">SAVE DETAILS</button>
              </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
<h1>emer loan</h1>
{%endblock%}
