{%extends 'base.html'%}

{%block title%}Bank{%endblock%}
{%block content%}

<!-- template for csadmin:fd -->

<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h2 class="h2">List Of Current Fixed Deposits Holders</h2>
              <h3>FD Rate of Interest = {{Interests.fdinterest}}</h3>
              <form method="get">
                <div class="input-group " style='width:65%'>
                <table>
                <input type="text" style="color:#fff" class="form-control" autocomplete="off" name="fdcapital" placeholder="Search" id="id_fdcapital">
                <button type="button" class="btn btn-round btn-just-icon" name="button"><i class="material-icons">search</i></button>
                </table>
              </div>
              </form>
            </div>
            {% if messages %}
            <ul>
               {% for message in messages %}
                     <script type="text/javascript">
                       md.showNotification('top','center' ,"{{message}}")
                     </script>
               {% endfor %}
            </ul>
            {% endif %}
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>FD Capital</th>
                      <th>Maturity Date</th>
                      <th>renew</th>
                      <th>clear</th>

                    </tr>
                  </thead>
                  <tbody>

              {%for i in bo %}
                    {%if i.fdcapital != 0%}
                <tr>
                  <td>{{i.username.name}}</td>
                  <td>{{i.fdcapital}}</td>
                  <td>{{i.fdmaturitydate}}</td>
                  <td><a href="{% url 'csadmin:fd_update' pk=i.pk %}"><i class="fa fa-refresh" aria-hidden="true" style='font-size:15px'></i></a></td>
                  <td><a href="{% url 'csadmin:fd_update' pk=i.pk %}"><i class="fa fa-thumbs-up" aria-hidden="true" style='font-size:15px'></i></a></td>
                    {%endif%}
                </tr>
              {%endfor%}
              </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
</main>
{%endblock%}
