{%extends 'base.html'%}

{%block title%}Loans{%endblock%}
{%block content%}
<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
            <h2 class="card-title ">Loans</h2>
            <table><thead> <th style="width:50%"> <h3> Loan Rate of Interest = {{Interests.longloaninterest}}</h3></th>
            <th><h3>Emergency Loan Rate of Interest = {{Interests.emerloaninterest}}</h3></th>
          </thead>
          </table>
            <form method="get">
              <div class="input-group " style='width:45%'>
                <input type="text" style="color:#fff" class="form-control" autocomplete="off" name="name" placeholder="Search" id="id_name">
                <button type="button" class="btn btn-round btn-just-icon" name="button"><i class="material-icons">search</i></button>
              </div>
            </form>
            {% if messages %}
            <ul>
               {% for message in messages %}
                     <script type="text/javascript">
                       md.showNotification('top','center' ,"{{message}}")
                     </script>
               {% endfor %}
            </ul>
            {% endif %}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                      <th>A/C No.</th>
                      <th>SapId</th>
                      <th>Name</th>
                      <th>Long Loan Amount</th>
                      <th>Long loan Principle</th>
                      <th>Long <br>loan Interest Amount</th>
                      <th>Long loan Emi</th>
                      <th>Long loan Balance</th>
                      <th>Emer Loan Amount</th>
                      <th>Emer loan Principle</th>
                      <th>Emer <br> loan Interest Amount</th>
                      <th>Emer loan Emi</th>
                      <th>Emer loan Balance</th>        
                  </thead>
                  <tbody>
                    {%for i in Loansadmin%}
                      {%if i.longloanbalance != 0 or i.emerloanbalance != 0 %}
                    <tr>
                      <td>{{i.accountnumber}}</td>
                      <td>{{i.sapid}}</td>
                      <td>{{i.name}}</td>
                      <td>{{i.longloanamount}}</td>
                      <td>{{i.longloanprinciple}}</td>
                      <td>{{i.longloaninterestamount}}</td>
                      <td>{{i.longloanemi}}</td>
                      <td>{{i.longloanbalance}}</td>
                      <td>{{i.emerloanamount}}</td>
                      <td>{{i.emerloanprinciple}}</td>
                      <td>{{i.emerloaninterestamount}}</td>
                      <td>{{i.emerloanemi}}</td>
                      <td>{{i.emerloanbalance}}</td>
                    </tr>
                      {%endif%}
                    {%endfor%}
                    

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>
</main>
{%endblock%}
