{%extends 'base.html'%}

{%block title%}Loans{%endblock%}
{%block content%}
<h1 class="h2">List Of Current Loan</h1>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Loan Amount</th>
        <th>Emi</th>
        <th>Rate of Interest</th>
        <th>Repayment date</th>

      </tr>
    </thead>
    <tbody>
{%for i in loans%}
  <tr>
    <td>{{i.loanGivenTo}}</td>
    <td>{{i.loanAmount}}</td>
    <td>{{i.emi}}</td>
    <td>{{i.rateOfInterest}}</td>
    <td>{{i.repaymentDue}}</td>

  </tr>
{%endfor%}

</tbody>
</table>
</div>
{%endblock%}
