{%extends 'base.html'%}

{%block title%}Loans{%endblock%}
{%block content%}
<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
            <h2>Loans</h2>
            <table><thead> <th style="width:50%"> <h3> Loan Rate of Interest = {{Interests.longloaninterest}}</h3></th>
            <th><h3>Emergency Loan Rate of Interest = {{Interests.emerloaninterest}}</h3></th>
          </thead>
          </table>
            <form method="get">
              <div class="input-group " style='width:45%'>
              <input type="text" style="color:#fff" class="form-control" autocomplete="off" name="name" placeholder="Name contains:" id="id_name">
              <button type="button" class="btn btn-round btn-just-icon" name="button"><i class="material-icons">search</i></button>
              </div>
            </form>

            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>A/C No.</th>
                      <th>SapId</th>
                      <th>Name</th>
                      <th>Long loan Principle</th>
                      <th>Long loan Interest Amount</th>
                      <th>Long loan Balance</th>
                      <th>Long loan Emi</th>
                      <th>Emer loan Principle</th>
                      <th>Emer loan Interest Amount</th>
                      <th>Emer loan Balance</th>
                      <th>Emer loan Emi</th>

                    </tr>
                  </thead>
                  <tbody>
                    {%for i in Loansadmin%}
                      {%if i.longloaninterestamount != 0%}
                    <tr>
                      <td>{{i.accountnumber}}</td>
                      <td>{{i.sapid}}</td>
                      <td>{{i.name}}</td>
                      <td>{{i.longloanprinciple}}</td>
                      <td>{{i.longloaninterestamount}}</td>
                      <td>{{i.longloanbalance}}</td>
                      <td>{{i.longloanemi}}</td>
                      <td>{{i.emerloanprinciple}}</td>
                      <td>{{i.emerloaninterestamount}}</td>
                      <td>{{i.emerloanbalance}}</td>
                      <td>{{i.emerloanemi}}</td>

                    </tr>
                      {%endif%} 
                    {%endfor%}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>
</main>
{%endblock%}
