{%extends 'base.html'%}
{%block title%}Accounts{%endblock%}
{%block content%}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div>
          <h3 class="card-title" style="text-align:left;"><b>Add a Long Loan</b>
          </h3>
          <form action="" method="post">
            {% csrf_token %}
            <table>
              {%if islongloantaken is False%}
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th><label for="id_username" class="bmd-label-floating">Username:</label></th>
                    <td><select name="username" class="form-control" required id="id_username">
                        <option value={{Userid}} selected>{{username}}</option>
                      </select></td>
                  </div>
                </div>
              </tr>
              <!-- <tr>
                <th><label for="id_islongloantaken">Is Long Loan Taken:</label></th>
                <td><input type="checkbox" name="islongloantaken" id="id_islongloantaken"></td>
              </tr> -->
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th> <label for="id_longloanamount" class="bmd-label-floating">Long Loan Amount:</label></th>
                    <td> <input type="number" name="longloanamount" value="{{longloanamt}}" step="100"
                        id="id_longloanamount" class="form-control"></td>
                  </div>
                </div>
              </tr>
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th> <label for="id_longloanperiod" class="bmd-label-floating">Long Loan Period(In Months):</label>
                    </th>
                    <td> <input type="number" name="longloanperiod" value="{{longloanprd}}" step="1"
                        id="id_longloanperiod" class="form-control"></td>
                  </div>
                </div>
              </tr>
              {%elif islongloantaken is True and validate is True%}
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th><label for="id_username" class="bmd-label-floating">Username:</label></th>
                    <td><select name="username" class="form-control" required id="id_username">
                        <option value={{Userid}} selected>{{username}}</option>
                      </select></td>
                  </div>
                </div>
              </tr>
              <!-- <tr>
                <th><label for="id_islongloantaken">Is Long Loan Taken:</label></th>
                <td><input type="checkbox" name="islongloantaken" id="id_islongloantaken"></td>
              </tr> -->
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th> <label for="id_longloanadditional" class="bmd-label-floating">Long Loan Addition:</label></th>
                    <td> <input type="number" name="longloanadditional" value="{{longloanadd}}" step="100"
                        id="id_longloanadditional" class="form-control"></td>
                  </div>
                </div>
              </tr>
              {%elif validate is False%}
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th> <label>Previous Loan has not been paid</label>
                    </th>
                  </div>
                </div>
              </tr>
              {% endif %}
            </table>
            {%if islongloantaken is False%}
            <div class="form-group " style="margin-top:20px">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary ">
                  <i class="material-icons">check</i> SAVE DETAILS
                </button>
              </div>
            </div>
            {%elif islongloantaken is True and validate is True%}
            <div class="form-group " style="margin-top:20px">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary ">
                  <i class="material-icons">check</i> SAVE DETAILS
                </button>
              </div>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}