{%extends 'base.html'%}

{%block title%}Members{%endblock%}
{%block content%}

<!-- template for members  (display page) -->

<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h2 class="card-title ">List Of Current Members</h2>
              <form method="get">
                <div class="input-group " style='width:45%'>
                <input type="text" style="color:#fff" class="form-control" autocomplete="off" name="name" placeholder="Search" id="id_name">
                <button type="button" class="btn btn-round btn-just-icon" name="button"><i class="material-icons">search</i></button>
                <a href="{% url 'csadmin:GeneratePdf'%}" class="btn pull-right  btn-primary" style="background: linear-gradient(45deg, #06beb6, #48b1bf);" target="_blank "><i class="material-icons">cloud_download</i>Save</a>
                </div>
              </form>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>A/C No.</th>
                    <th>Sap Id</th>
                    <th>Name</th>
                    <th>Share Amount</th>
                    <th>Share Balance</th>
                    <th>CD Amount</th>
                    <th>CD Balance</th>
                    <th>Long loan Amount</th>
                    <th>Long Loan Principle</th>
                    <th>Long Loan Interest Amount</th>
                    <th>Long Loan Balance</th>
                    <th>Emer Loan Amount</th>
                    <th>Emer Loan Principle</th>
                    <th>Emer Loan Interest amount</th>
                    <th>Emer Loan Balance</th>
                    <th>Total Amount</th>
                  </thead>
                  <tbody>
                    {%for i in filter.qs%}
                    <tr>
                      <td>{{i.accountnumber}}</td>
                      <td>{{i.sapid}}</td>
                      <td>{{i.name}}</td>
                      <td>{{i.shareamount}}</td>
                      <td>{{i.sharebalance}}</td>
                      <td>{{i.cdamount}}</td>
                      <td>{{i.cdbalance}}</td>
                      <td>{{i.longloanamount}}</td>
                      <td>{{i.longloanprinciple}}</td>
                      <td>{{i.longloaninterestamount}}</td>
                      <td>{{i.longloanbalance}}</td>
                      <td>{{i.emerloanamount}}</td>
                      <td>{{i.emerloanprinciple}}</td>
                      <td>{{i.emerloaninterestamount}}</td>
                      <td>{{i.emerloanbalance}}</td>
                      <td>{{i.totalamount}}</td>

                    </tr>
                    {%endfor%}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>

  </div>
  </div>
  <br>
  <br>
</main>
{%endblock%}
