{%extends 'base.html'%}

{%block title%}Members{%endblock%}
{%block content%}
<h1 class="h2">List Of Current Members</h1>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Username</th>
        <th>Monthly Deduction</th>
        <th>Corpus</th>

      </tr>
    </thead>
    <tbody>
{%for i in accounts%}
  <tr>
    <td>{{i.accountholder.username}}</td>
    <td>{{i.monthlyDeduction}}</td>
    <td>{{i.totalInvestment}}</td>

  </tr>
{%endfor%}

</tbody>
</table>
<a href="{% url 'csadmin:GeneratePdf'%}" class="btn btn-primary" target="_blank ">Save</a>
</div>
{%endblock%}
