{%extends 'base.html'%}

{%block title%}Members{%endblock%}
{%block content%}
<main role="main" class="col-md-6 col-lg-12">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">List Of Current Members</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>A/C No.</th>
                    <th>Sap Id</th>
                    <th>Name</th>
                    <th>Share Amount</th>
                    <th>Share Balance</th>
                    <th>CD Amount</th>
                    <th>CD Balance</th>
                    <th>Long Loan Principle</th>
                    <th>Long Loan Interest</th>
                    <th>Long Loan Balance</th>
                    <th>Emer Loan Principle</th>
                    <th>Emer Loan Interest</th>
                    <th>Emer Loan Balance</th>
                    <th>Total Amount</th>
                  </thead>
                  <tbody>
                    {%for i in Members%}
                    <tr>
                      <td>{{i.accountnumber}}</td>
                      <td>{{i.sapid}}</td>
                      <td><a href="{% url 'csadmin:fd_update' pk=i.pk %}">{{i.name}}</a></td>
                      <td>{{i.shareamount}}</td>
                      <td>{{i.sharebalance}}</td>
                      <td>{{i.cdamount}}</td>
                      <td>{{i.cdbalance}}</td>
                      <td>{{i.longloanprinciple}}</td>
                      <td>{{i.longloaninterest}}</td>
                      <td>{{i.longloanbalance}}</td>
                      <td>{{i.emerloanprinciple}}</td>
                      <td>{{i.emerloaninterest}}</td>
                      <td>{{i.emerloanbalance}}</td>
                      <td>{{i.totalamount}}</td>

                    </tr>
                    {%endfor%}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
        <a href="{% url 'csadmin:GeneratePdf'%}" class="btn btn-primary" target="_blank ">Save</a>
  </div>
  </div>
  <br>
  <br>
</main>
{%endblock%}
