{%extends 'base.html'%}

{%block title%}Bank{%endblock%}
{%block content%}

<!-- template for csadmin:fd -->

<main role="main" class="col-md-8 col-lg-12 px-4">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <form class="" method="POST">
              <label for="id_startdate">Startdate:</label><input class="form-control" type="date" name="startdate" required id="id_startdate">
              <label for="id_enddate">Enddate:</label><input class="form-control" type="date" name="enddate" required id="id_enddate">
              <label for="id_userA">userA:</label>
              <select name="userA" class="form-control" required id="id_userA">
                {%for i in userA%}
                  <option value="{{i.id}}" selected>{{i.username}}</option>
                  {%endfor%}
                </select>
                <!-- <p><label for="id_userA">Usera:</label> <input type="text" name="userA" required id="id_userA"></p> -->
                <label for="id_Choice_0">Choice:</label> <ul id="id_Choice">
                  <label for="id_Choice_0"><input type="radio" name="Choice" value="long_loan" required id="id_Choice_0">Long_Loan</label>
                  <label for="id_Choice_1"><input type="radio" name="Choice" value="emergency_loan" required id="id_Choice_1">Emergency_Loan</label>
                  <label for="id_Choice_2"><input type="radio" name="Choice" value="cd" required id="id_Choice_2">CD</label>
                  <label for="id_Choice_3"><input type="radio" name="Choice" value="share" required id="id_Choice_3">Share</label>
                </ul>
              <button type="submit" name="button">hello </button>
                {% csrf_token %}
            </form>
            <div class="row">
            <a href="{% url 'csadmin:GenerateReport'%}" ><button type="button" class="btn btn-primary pull-right  btn-info"  name="button"><i class="material-icons">assignment</i>CD Report</button></a>
            <a href="{% url 'csadmin:GenerateReport'%}" ><button type="button" class="btn btn-primary pull-right  btn-info"  name="button"><i class="material-icons">assignment</i>SHARE Report</button></a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{%endblock%}
