{%extends 'base.html'%}
{%block title%}Accounts{%endblock%}
{%block content%}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div>
          <h3 class="card-title" style="text-align:left;"><b>Update Share Value</b>
          </h3>
          <form action="" method="post">
            {% csrf_token %}
            <table>
              <tr>
                  <div class="col-md-4">
                      <div class="form-group">
                <th><label for="id_username" class="bmd-label-floating">Username:</label></th>
                <td><select name="username"  class="form-control" required id="id_username">
                    <option value={{Userid}} selected>{{username}}</option>
                  </select></td>
                </div>
              </div>
              </tr>
              <tr>
                <div class="col-md-4">
                  <div class="form-group">
                    <th><label for="id_sharevalue" class="bmd-label-floating">Sharevalue:</label></th>
                    <td><input type="number"class="form-control" name="sharevalue" value="{{usershare}}" step="500" required id="id_sharevalue"></td>
                  </div>
                </div>
                  </tr>
            </table>
            <div class="form-group " style="margin-top:20px">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary ">
                  <i class="material-icons">check</i> SAVE
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{%endblock%}
