{%extends 'base.html'%}

{%block title%}TotalMoney{%endblock%}
{%block content%}
<!-- for changing share dividend -->

<head>
  <style>
    input {
      width: 25%;
    }
  </style>
</head>

<body>

  <form class="lw-form" method="post">
    <div class="lw-field">
      <h3>Change Share Dividend</h3>
      <input type="numeric" name="fsharedividend" id="new_sharedividend" placeholder="Enter the new Rate of Interest of Dividend">
      <button class="lw-btn" name="btnshare" href="{%url 'csadmin:totalmoney'%}">ok!</button>
    </div>
    {%csrf_token%}
  </form>
  <!-- for changing cd dividend -->
  <form class="lw-form" method="post">
    <div class="lw-field">
      <h3>change cd dividend</h3>
      <input type="numeric" name="fcddividend" id="new_cddividend" placeholder="Enter the new Rate of Interest of Dividend">
      <button class="lw-btn" name="btncd" href="{%url 'csadmin:totalmoney'%}">ok!</button>
    </div>

    {%csrf_token%}
  </form>
  <!-- for changing long loan interest -->
  <form class="lw-form" method="post">
    <div class="lw-field">
      <h3>Long Loan interest</h3>
      <input type="numeric" name="flongloaninterest" id="new_longloaninterest" placeholder="Enter the new Rate of Interest of Dividend">
      <button class="lw-btn" name="btnlongloan" href="{%url 'csadmin:totalmoney'%}">ok!</button>
    </div>
    </form>
    <!-- for changing emergency loan interest -->
    <form class="lw-form" method="post">
      <div class="lw-field">
        <h3>Emergency Loan interest</h3>
        <input type="numeric" name="femergencylaoninterest" id="new_longloaninterest" placeholder="Enter the new Rate of Interest of Dividend">
        <button class="lw-btn" name="btnemerloan" href="{%url 'csadmin:totalmoney'%}">ok!</button>
      </div>
      </form>

      <!-- for changing FD interest -->
      <form class="lw-form" method="post">
        <div class="lw-field">
          <h3>FD interest</h3>
          <input type="numeric" name="ffdinterest" id="new_fdinterest" placeholder="Enter the new Rate of Interest of Dividend">
          <button class="lw-btn" name="btnfd" href="{%url 'csadmin:totalmoney'%}">ok!</button>
        </div>

        {%csrf_token%}
      </form>
</body>
{%endblock%}
