{%extends 'base.html'%}

{%block title%}TotalMoney{%endblock%}
{%block content%}
<!-- for changing share dividend -->
<main role="main" class="col-md-6 col-lg-12">
<form class="lw-form" method="post">
  <div class="lw-field">
    <h3>Change Share Dividend</h3>
    <input type="numeric" name="fsharedividend" id="new_sharedividend" style="font-size:11pt; width:35%; height:35%;" placeholder="Enter the new Rate of Interest of Dividend">
    <button class="lw-btn" name="btnshare" style="padding:7px;" href="{%url 'csadmin:totalmoney'%}">Save</button>
  </div>

  {%csrf_token%}
</form>
<!-- for changing cd dividend -->
<form class="lw-form" method="post">
  <div class="lw-field">
    <h3>Change Cummulative Deposits Dividend</h3>
    <input type="numeric" name="fcddividend" id="new_cddividend" style="font-size:11pt; width:35%; height:35%;" placeholder="Enter the new Rate of Interest of Dividend">
    <button class="lw-btn" name="btncd" style="padding:7px;" href="{%url 'csadmin:totalmoney'%}">Save</button>
  </div>

  {%csrf_token%}
</form>
<!-- for changing long loan interest -->
<form class="lw-form" method="post">
  <div class="lw-field">
    <h3>Long Loan Interest</h3>
    <input type="numeric" name="flongloaninterest" id="new_longloaninterest" style="font-size:11pt; width:35%; height:35%;" placeholder="Enter the new Rate of Interest of Dividend">
    <button class="lw-btn" name="btnlongloan" style="padding:7px;" href="{%url 'csadmin:totalmoney'%}">Save</button>
  </div>
  {%csrf_token%}
  </form>
  <!-- for changing emergency loan interest -->
  <form class="lw-form" method="post">
    <div class="lw-field">
      <h3>Emergency Loan Interest</h3>
      <input type="numeric" name="femergencylaoninterest" id="new_longloaninterest" style="font-size:11pt; width:35%; height:35%;" placeholder="Enter the new Rate of Interest of Dividend">
      <button class="lw-btn" name="btnemerloan" style="padding:7px;" href="{%url 'csadmin:totalmoney'%}">Save</button>
    </div>
    {%csrf_token%}
</form>
    <!-- for changing FD interest -->
    <form class="lw-form" method="post">
      <div class="lw-field">
        <h3>Fixed Deposits Interest</h3>
        <input type="numeric" name="ffdinterest" id="new_fdinterest" style="font-size:11pt; width:35%; height:35%;" placeholder="Enter the new Rate of Interest of Dividend">
        <button class="lw-btn" name="btnfd" style="padding:7px;" href="{%url 'csadmin:totalmoney'%}">Save</button>
      </div>

      {%csrf_token%}
    </form>
    </main>
    {%endblock%}
