{%extends 'base.html'%}
{%block title%}Accounts{%endblock%}
{%block content%}
<h2>ADD Account Details</h2>
<div class="container-fluid">
  <div class="row">


  <div class="col-sm-12 col-md-7">
           <div class="panel panel-default">
               <div class="panel-body">
                  <form action="" method="post">
                    {% csrf_token %}
                    <table>
                      <tr>
                        <th><label for="username">User name:</label></th>
                        <td><input id="username" name="username" type="text" /></td>
                      </tr>\n
                      <tr>
                        <th><label for="password">Name:</label></th>
                        <td><input id="password" name="password" type="password" /></td>
                      </tr>\n
                      <tr>
                        <th><label for="first_name">Name:</label></th>
                        <td><input id="first_name" name="first_name" type="text" /></td>
                      </tr>\n
                      <tr>
                        <th><label for="last_name">Name:</label></th>
                        <td><input id="last_name" name="last_name" type="text" /></td>
                      </tr>\n
                      <tr>
                        <th><label for="email">Name:</label></th>
                        <td><input id="email" name="email" type="email" /></td>
                      </tr>\n
                    </table>

                    <div class="form-group " style="margin-top:20px">
                       <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">SAVE DETAILS</button>
                      </div>
                    </div>
                    </form>
                    <a href="{% url 'csadmin:account_create'%}">skip to account create</a>
                </div>
            </div>

      </div>
</div>
</div>
{%endblock%}
