amqp==1.4.9
anyjson==0.3.3
astroid==2.2.5
autotask==0.5.4
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
dj-database-url==0.5.0
Django==2.2.21
django-auditlog==0.4.5
django-bootstrap3==8.2.3
django-debug-toolbar==1.7
django-extensions==1.7.8
django-filter==2.2.0
django-jsonfield==1.2.0
django-nyt==1.1.3
django-popup-view-field==0.5.0
django-search-views==0.3.7
django-webline-notifications==1.0.1
djangorestframework==3.9.1
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
Pillow==6.0.0
pipenv==2018.11.26
pylint==2.3.1
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2019.1
regex==2019.6.8
reportlab==3.5.20
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==16.6.1
virtualenv-clone==0.5.3
webencodings==0.5.1
whitenoise==4.1.2
wrapt==1.11.2
xhtml2pdf==0.2.3
