{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <title>Lorahost hosting - Home</title> -->
	<!-- <link rel="icon" href="img/Fevicon.png" type="image/png"> -->
  <title>{%block title%}CreditSociety{%endblock%}</title>
  <link rel="stylesheet" href="{% static 'status/vendors/bootstrap/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'status/vendors/themify-icons/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'status/vendors/owl-carousel/owl.theme.default.min.css'%}">
  <link rel="stylesheet" href="{% static 'status/vendors/owl-carousel/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'status/scss/style.scss' %}">
  <link rel="stylesheet" href="{% static 'status/css/style.css'%}">
</head>
<body>
  <!--================ Banner Section start =================-->
  <section class="hero-banner text-center">
    <div class="container">
      <h1>DJ Sanghvi College of Engineering Credit Society</h1>
      <p class="hero-subtitle"></p>
      <a class="button button-outline" href="{% url 'login'%}">Sign in</a>
    </div>
  </section>
  <!--================ Banner Section end =================-->

  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>About Us</h4>
          <p>Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing days open</p>
          <a class="navbar-brand logo_h d-none d-xl-block" href="index.html"><img src="img/logo.png" alt=""></a>
				</div>
				<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Contact Info</h4>
					<ul>
						<li>Address: Your address goes here, your demo address.</li>
						<li><a href="tel:+88044338899">Phone: +880 44338899</a></li>
						<li><a href="mailto:info@colorlib.com">Email: info@colorlib.com</a></li>
					</ul>
				</div>
				<!-- <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Important Link</h4>
					<ul>
						<li><a href="#">WHMCS-bridge</a></li>
						<li><a href="#">Search Domain</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Shopping Cart</a></li>
						<li><a href="#">Our Shop</a></li>
					</ul>
				</div> -->
				<!-- <div class="offset-xl-1 col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
					<h4>Newsletter</h4>
          <p>Heaven fruitful doesn't over lesser in days. Appear creeping seasons deve behold bearing days open</p> -->

          <!-- <div class="form-wrap" id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
            method="get">
              <div class="input-group">
                <input type="email" class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                <div class="input-group-append">
                  <button class="btn click-btn" type="submit">
                    <i class="ti-arrow-right"></i>
                  </button>
                </div>
              </div>
              <div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
            </form>
          </div> -->

				</div>
			</div>
			<div class="footer-bottom row align-items-center text-center text-lg-left">
				<p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				<div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
					<a href="#"><i class="ti-facebook"></i></a>
					<a href="#"><i class="ti-twitter-alt"></i></a>
					<a href="#"><i class="ti-dribbble"></i></a>
					<a href="#"><i class="ti-linkedin"></i></a>
				</div>
			</div>
		</div>
	</footer>
  <!-- ================ End footer Area ================= -->




  <script src="{%static 'status\vendors\jquery\jquery-3.2.1.min.js'%}"></script>
  <script src="{%static 'status\js\perfect-scrollbar.jquery.min.js'%}"></script>
  <script src="{%static 'status\vendors\owl-carousel\owl.carousel.min.js'%}"></script>
  <script src="{%static 'status\js\jquery.ajaxchimp.min.js'%}"></script>
  <script src="{%static 'status\js\main.js'%}"></script>
  {%block content%}{%endblock%}
</body>
</html>
